@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}


:root{
  --naranja:rgb(238, 74, 0);
  --radius:8px;
}

.navbar{
  background-color: var(--naranja);
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 5;
  top: 0;
}


.navbar__imgcont1{

  width: 4%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
}

.navbar__logo{
  width: 100%;
}

.navbar__linkhome{
  color: white;
  font-weight: 500;
  text-decoration: none;
  font-size: 30px;
  flex: 6;
}

.navbar__linkcreate{
  color: white;
  font-weight: 350;
  text-decoration: none;
  margin-right: 1%;
  font-size: 13px;
  
}

.navbar__linklogin{
  color: white;
  font-weight: 350;
  text-decoration: none;
  flex: 5;
  font-size: 13px;
}

.section1{
  width: 100%;
  height: 66vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(imagenes/fondo1.png);
  margin-top: 7vh;
}

.section1__degrade{
background-color: black;
width: 100%;
height:66%;
position: absolute;
z-index: 0;
opacity: 50%;
}

.section1__cont{
  width: 60%;
  height: 100%;
  color: white;
  font-weight: 350;
  flex-direction: column;
  display: flex;
  justify-content: center;
  z-index: 1;

}

.section1__titulo{
  font-size: 58px;
  z-index: 1;
}

.section1__parrafo{
  font-size: 30px;
  font-weight: 350;
  margin-top: 1%;
  z-index: 1;
}

.section1__form{
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.section1__selectbox{
  width: 31%;
  height: 5.5vh;
  margin-top: 7%;
  border: solid 3px var(--naranja);
  border-radius: var(--radius);
  font-size: 15px;
  font-weight: 400;

}

.section1__selectbox:hover{

    border: solid 4px var(--naranja);
}

.section1__button1{
  align-self: center;
  width: 15%;
  height: 5.5vh;
  border: none;
  border-radius: 6px;
  background-color: rgb(0, 102, 255);
  color: white;
  font-size: 15px;
  font-weight: 400;
  margin-top: 7%;
}

.section2{
  width: 100%;
  height: 120vh;
  display: flex;
  flex-direction: column;
  padding-left: 15%;
  padding-right: 15%;
  margin-top: 5%;
}

.section2__subtitulo1{
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 2%;
}

.section2__hotels1{
  width: 95%;
  height: 22%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 8%;
}

.hotels1__container{
  width: 23%;
  height: 100%;
  border-radius: 16px;
  box-shadow: 1px 4px 0px rgba(100, 100, 100, 0.2);
  background-color: white;
  transition: transform 0.19s ease;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.hotels1__imgcont{
  width: 100%;
  height: 65%;
  overflow: hidden;
}

.hotels1__img{
  width: 100%;
  
}

.section2__subtitulo2{
  font-size: 33px;
  font-weight: 500;
  display: flex;
}

.section2__hotels2{
  width: 95%;
  height: 22%;
  display: flex;
  justify-content: space-between;

}


.hotels1__texto{
  line-height: 1em;
  margin-left: 5%;
  font-size: 13px;
}

.hotels2__container{
  width: 32%;
  height: 100%;
  border-radius: 16px ;
  box-shadow: 1px 4px 0px rgba(100, 100, 100, 0.2);

}

.hotels2__imgcont{
  width: 100%;
  height: 70%;
  overflow: hidden;
}

.hotels2__img{
  width: 100%;
}

.hotels2__texto{
  color: black;
  margin-left: 5%;
  font-size: 15px;
  line-height: 2;
}

.hotels1__container:hover{
transform: scale(1.1);
}

.hotels1__container:active{
  transform: scale(1.03);
}


@media(max-width:425px){

  .navbar__imgcont1{
    width: 100%;
    height: 100%;
    margin-left: 10%;
  }

  .navbar__logo{
    
    width: 80%;
  }
  .navbar__linkhome{
    font-size: 25px;
    
  }

  .navbar__linklogin{
    margin-right: 10%;
  }

  .navbar__linkcreate{
    margin-left: 10%;
  }

  .section1__titulo{
    font-size: 40px;
    text-align: center;
  }

  .section1__parrafo{
    font-size: 20px;
    text-align: center;
  }

  .section1__form{
    flex-direction: column;
  }

  .section1__selectbox{
    width: 100%;
  }

  .section1__button1{
    width: 80%;
  }

  .section2{
    height: 250vh;
  }
  .section2__subtitulo1{
    font-size: 20px;
    text-align: center;
    margin-top: 4%;
  }

  .section2__hotels1{
    flex-direction: column;
    align-items: center;
    height: 44%;
  }

  .hotels1__container{
    width: 95%;
    margin-bottom: 10%;
  }

  .section2__subtitulo2{
    margin-top: 35%;
    font-size: 20px;
    text-align: center;
  }

  .section2__hotels2{
    flex-direction: column;
    align-items: center;
  }

  .hotels2__container{
    width: 100%;
    margin-bottom: 10%;
  }
}