@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

*{
  padding: 0;
  box-sizing: border-box;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
  font-style: normal;
}

.navbar{
  background-color: rgb(238, 74, 0);
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
}

.navbar__imgcontainer{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
}

.navbar__linkhome{
  width: auto;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding-left: 0.5%;
  font-weight: 500;
}

.section1{
  width: 100%;
  height: 93vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.section1__titulo{
  font-size: 30px;
  font-weight: 500;
  padding-right: 34%;
  background-color: rgb(238, 74, 0);
  color: white;
  height: 10%;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.section1__form{
  width: 80%;
  height: 75%;
  display: flex;
  align-items: center;
  justify-content: center;

}


.form__container{
  height: 100%;
  width: 35%;
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 5em;
  position: relative;


  margin-bottom: 4%;
}

.input__titulo{
  padding-top: 3em;
  padding-bottom: 1em;
  font-weight: 600;
  font-size: 13px;
}

.section1__input{
  width: 83%;
  height: 9%;
  border-radius: 10px;
  font-size: 13px;
  padding-left: 5%;
  font-weight: 500;
}

.form__button{
  background-color: rgb(47, 118, 255);
  width: 10%;
  height: 6%;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 17px;

}