@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("../custom_propierties.css");

 

.navbar__imgcontainer{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
}

.navbar__linkhome{
  width: auto;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding-left: 0.5%;
  font-weight: 500;
}

.section1{
  width: 100%;
  height: 63vh;
  background-image: url(../imagenes/fondohotel1.png);
  color: white;
  overflow: hidden;
  position: relative;
  z-index: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado{
  background-color: var(--azul);
  width: 100%;
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;

}



.section1__degrade{
  background-color: black;
  width: 100%;
  height: 63vh;
  opacity: 75%;
  position: absolute;
  z-index: 0;
}

.section1__titulos_container{
  position: relative;
  width: 62%;
  margin-top: 2%;
  height: 30%;
  margin-bottom: 1%;
}

.section1__titulo{
  font-size: 30px;
}

.section1__subtitulo{
  font-size: 30px;
  font-weight: 300;
  margin-top: 5%;
}

.section1__contenido{
  width: 100%;
  height: 46%;
  display: flex;
  box-sizing: border-box;

}

.section1__icons_container{
  position: relative;
  width: 24%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-between;
}

.section1__cuadro_icono{
  width: 11%;
  height: 20%;
  background-color: var(--azul);
  border-radius: 8px;
  margin-right: 10%;
}

.section1__textos_container{
  position: relative;
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-right: 10%;
}


.section1__button_container{
  display: flex;
  align-items: center;
  width: 30%;
  height: 100%;
}

.section1__button{
  position: relative;
  background-color: var(--azul);
  width: 30%;
  height: 20%;
  color: white;
  font-size: 15px;
  font-weight: 400;
  border: none;
  border-radius: 8px;
}


.encabezado__titulo{
  font-size: 60px;
  font-weight: 500;
  color: white;
}

.section1__cuadro_icono{
  display: flex;
  align-items: center;
  justify-content: center;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.section2{
  height: 200vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section2__titulo{
  font-size: 30px;
  font-weight: 500;
  margin-top: 3%;
  margin-bottom: 2%;
  align-self: flex-start;
  margin-left: 18%;
}

.section2__propiedades{
  width: 65%;
  height: 22%;
  display: flex;
  justify-content: space-around;
  border-radius: 8px;
}

.propiedades__imgcontainer{
  height: 100%;
  width: 31%;
}

.propiedad__logo{
  width: 100%;
  
}

.propiedad__texto{
  font-size: 18px;
  font-weight: 500;
}

.section2__form{
  width: 51%;
  height: 41%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form__titulo{
  color: white;
  align-self: flex-start;
  margin-left: 7%;
  font-size: 30px;
  background-color: var(--azul);
  width: 86%;
  height: 10%;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.form__container{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__inputs{
  width: 100%;
  height: 100%;
  display: flex;

}

.form__inputs_container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.input__titulo{
  align-self: flex-start;
  margin-left: 15%;
  font-weight: 500;
  margin-bottom: 3%;
}

.form__input{
  width: 70%;
  height: 7%;
  border-radius: 8px;
  border: solid 1px black;
  margin-bottom: 12%;
}

.form__input::placeholder{
font-size: 15px;
color: rgb(100, 100, 100);

}

.form__button{
  width: 18%;
  height: 7%;
  color: white;
  background-color: var(--azul);
  border: none;
  border-radius: var(--radio8);
}