@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@import url("../custom_propierties.css");

.navbar__imgcontainer{
  width: auto;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 20%;
}

.navbar__linkhome{
  width: auto;
  display: flex;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-decoration: none;
  padding-left: 0.5%;
  font-weight: 500;
}

.section1{
  width: 100%;
  height: 93vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section1__titulo{
  font-size: 30px;
  font-weight: 500;
  padding-right: 34%;
  background-color: rgb(47, 118, 255);
  color: white;
  height: 10%;
  display: flex;
  align-items: center;
  border-radius: 8px;
  width: 52%;
}


.section1__form{
  width: 80%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form__container{
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  
}

.form__inputs{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 5%;
  margin-right: 5%;

}

.input__container{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5%;
}


.input__titulo{
  align-self: flex-start;
  margin-left: 10%;
  font-size: 15px;
  font-weight: 600
}

.input{
  height: 46%;
  width: 80%;
  border-radius: 8px;
  border: solid 1px black;
  padding-left: 5%;
  padding-top: 0.5%;
  margin-top: 5%;
}

.input::placeholder{
  font-size: 14.5px;
  color: black;
}

.input2{
  height: 20%;
}

.form__button{
  height: 22%;
  width: 43%;
  margin-top: 12%;
  border-radius: 8px;
  border: none;
  background-color: rgb(47, 118, 255);
  color: white;
  font-size: 14.5px;
  font-weight: 400;
}